@model Mooshak2.Models.CourseViewModel

@{
    ViewBag.Title = "Index";
}


<div class="tabbable tabs-left" id="result">
    <ul class="nav nav-tabs">
        @foreach (var x in Model.TestList)
        {
            <li>
                @Html.ActionLink(x.ToString(),"Index")
            </li>
        }
    </ul>
</div>

