
@{
    ViewBag.Title = "UserSettings";
}

    <div class="container">
        <div class="row2">
            <div class="col-md-3">
                <div class="list-group" id="sidebar">
                    <a href="#" class="list-group-item">Personal Info</a>
                    <a href="#" class="list-group-item">Change password</a>
                </div>
            </div>
            <div class="col-md-9">
                <img src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/34691_438238041276_7286403_n.jpg?oh=73e2dc347a081be66fcc280a1ec0a905&oe=57A98FAF" alt="Willy" style="float: left; width: 17%; height: 17%;"></img>
                <h2>Dagur Efron</h2>
                <p>Dagur Efron the model boy from shitville</p>
                <hr class="col-md-12">

                <h2>Time Zone Defaults</h2>
                <p>
                    All of the settings for time zone and daylight savings.
                </p><hr class="col-md-12">

                <h2>Diagnostics</h2>
                <p>Run various diagnostics.</p>
                <button class="btn" contenteditable="false">Run Network Diagnostic</button>
            </div>
            <div class="span9"></div>
        </div>
    </div>