@model List<Mooshak2.Models.AssignmentNavViewModel>

@{
    ViewBag.Title = "Index";
}


<div class="w3-sidenav w3-light-grey w3-card-2">
	@foreach (var x in Model)
	{
		<div class="accordion-wrapper">
			<a href="#" class="accordion-anchor">
				@x.Name
			</a>
			@if (x.List != null)
			{
				<div class="w3-accordion-content w3-white w3-card-4">
					@foreach (var y in x.List)
					{
						@Ajax.ActionLink(y.Name, "SideTabDataRender", "Student", new {id = y.Id}, new AjaxOptions() {UpdateTargetId = "data", InsertionMode = InsertionMode.Replace, HttpMethod = "GET"})
					}

				</div>
			}
		</div>
	}
</div>
<div class="custom-student">
	<div id="data">

	</div>
</div>