@using Mooshak2.Services
@model IEnumerable<Mooshak2.Models.CourseTabViewModel>

@{
    ViewBag.Title = "Index";
}



<div class="custom-student">
	<ul class="nav nav-tabs">
		@foreach (var x in Model.ToList())
		{
			<li>
				@Ajax.ActionLink(x.Name, "SideTabRender", "Student", new {id = x.Id}, new AjaxOptions() {UpdateTargetId = "test", InsertionMode = InsertionMode.Replace, HttpMethod = "GET"})
			</li>
		}
	</ul>
	<div id="test">
		@Html.Partial("_SideTabs", new AssignmentService().GetAssignmentNavViewModels(Model.First().Id))
	</div>
</div>
