@model List<Mooshak2.Models.AssignmentNavViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="custom-student">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="sidebar-nav">
					<div class="tabbable tabs-left">
						<ul class="nav nav-list">
							@foreach (var x in Model)
							{
								<li class="nav-header">@x.Name</li>
								if (x.List != null)
								{
									foreach (var y in x.List)
									{
										<li><a>@y.Name</a></li>
									}
								}
							}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>