
@{
    ViewBag.Title = "ListUsers";
}

<h2>Users</h2>

<div class="form-group">
    <label for="model.AllTeachers" class="control-label col-md-2">Search Users:</label>
    <div class="col-md-10">
        <input type="text" class="form-control leitarbox" placeholder="Search user.."/><br/>
        <div class="col-md-10"/>
        <input type="radio" value="selected" id="All"/>
        <label for="All">All users</label>
        <input type="radio" id="Teachers"/>
        <label for="Teachers">Teachers</label>
        <input type="radio" id="Students"/>
        <label for="Students">Students</label>
    </div>
    <div>
        <select class="leitarlisti2" id="leitarfunction" name="users" size="15">
            @foreach (var item in Model.AllTeachers)
            {
                <option value="@item.Id">@item.username</option>
            }
        </select>
        <input type="button" value="Edit" />
    </div>
</div>
