body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 1%; 
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Header test data*/
.navbar-custom
{
    background-color: #b94a48;
    border-color: #CD5C5C;
    color: #cccccc;
}


.btn-custom
{
    background-color: #b94a48;
    border-color: #cccccc;
    color: white;
}

.custom-loginform
{
    margin-top: -10px;
}

.custom-heading
{
    margin-top: 60px;
    text-align: center;
}

.custom-header
{
    float: right;
}

/*Student view data test*/
.custom-student
{
    margin-top: 50px;
    margin-left: 100px;
}
a
{
    color: grey;
	text-align: center;
}

/*Tabs data*/

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}

.custom-tabber
{
    margin-left: -73px;
}




/*Fyrir search listana*/
/*Source: https://www.html5andbeyond.com/live-search-a-html-list-using-jquery-no-plugin-needed/ */

.leitarlisti
{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding: 1em;
background-color: #fff;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
font-family: 'Lato', sans-serif;
color: #000;

  height:200px; 
  width: 80%; 
  overflow: hidden; 
  overflow-y:scroll;
}

.leitarlisti2
{
  width: 25%;
  margin-left: 34%;
}

.leitarbox 
{
width: 100%;
display: block;
padding: 1em;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;

-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.leitarlisti option 
{
color: #000;
list-style: none;
padding: 0;
margin: 5px 0;
}

/*Submission Tafla*/
.acceptedTd
{
    color: green; 
}

.failedTd
{
    color: red; 
}

/*Create course*/

.teachercontainer
{
    border: 1px solid red;
}

.custom-leitarboxkennara
{
    width: 17%;
    height: 27px;
    padding-left: 16px;
}

.custom-coursename
{
    width: 550px;
}

.userlist2 
{
    display: none;
}

.userlist3 
{
    display: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

/* https://stackoverflow.com/questions/11235206/twitter-bootstrap-form-file-element-upload-button */
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.custom-button
{
    margin-bottom: 20px;
}

.custom-container
{
    padding-left: 90px;
}

.custom-radio
{
    margin-bottom: 7px;
    margin-top: 18px;
}

.listuser-center
{
    margin-left: 34%;
}

.listuser-center2
{
    margin-left: 33%
}

.h2-custom
{
    margin-top: 3%;
}

/*Nav*/

.custom-nav
{
    width: 200px;
    position: fixed!important;
    left: 0;
    padding-bottom: 6%;
	bottom: 0;
	height: -moz-calc(100% - 50px);
	height: -webkit-calc(100% - 50px);
}

.container-custom
{
    margin-top: 1%;
}

.col-md-103
{
    margin-top: 2%;
}

.h4-custom
{
    color: #555555;
    line-height: 1.8;
    background-color: #eeeeee;
    padding-left: 6%;
    font-variant: small-caps;
    text-transform: lowercase;
    font-size: 20px;
    font-weight: bold;
}

body {
  margin: -18px;
}

/*færa student content nær navinu*/

div.container-custom div.row div#content
{
	position: fixed;
    left: 250px;
}

/*a inní navi*/

a.custom-navanchor
{
	display: block;
    color: #555555;
    text-align: left;
    border-bottom: 1px solid rgba(185, 74, 72, 0.22);
    margin-right: 30px;
}

.custom-icon
{
	float: right;
    margin-right: 5px;
    margin-top: 3px;
    color: rgba(185, 74, 72, 0.9);
}

.custom-adder
{
	color: rgba(185, 74, 72, 0.95);
    text-align: left;
    margin-top: 3px;
}