@using System.Web.Services.Protocols

@{
    ViewBag.Title = "CreateAssignment";
}

<h2>CreateCourse</h2>

@{
	using (Html.BeginForm("CreateAssignment", "Teacher", FormMethod.Post, new { id = "assignmentform" }))
	{
		<div class="row">
			<div class="form-group">
				<label class="col-xs-3 control-label">Assignment Name</label>
				<div>
					@* TODO: Html.TextBoxFor(MODEL)*@
					<input type="text" name="assignment name" class="form-control"/>
				</div>
			</div>
		</div>


		<div class="form-group">
			<div class="row">
				<label class="col-xs-3 control-label">Milestones</label>
			</div>
			<div class ="row">
				<div class="col-xs-3">
					<input type="text" class="form-control" name="title[0]" placeholder="Title"/>
				</div>
				<div class="col-xs-2">
					<input type="text" class="form-control" name="weight[0]" placeholder="Weight"/>
				</div>
				<div class="col-xs-1">
					<span class="btn btn-default btn-file">
						Browse <input type="file" name="file[0]" />
					</span>
				</div>
				<div class="col-xs-1">
					<button type="button" class="btn btn-default addbutton">
						Add a row
					</button>
				</div>
			</div>
		</div>


		<div class="form-group hide" id="assignmenttempplate">
			<div class="row">
				<div class="col-xs-3">
					<input type="text" class="form-control" name="title" placeholder="Title"/>
				</div>
				<div class="col-xs-2">
					<input type="text" class="form-control" name="weight" placeholder="Weight"/>
				</div>
				<div class="col-xs-1">
					<span class="btn btn-default btn-file">
						Browse <input type="file" name="file" />
					</span>
				</div>
				<div class="col-xs-1">
					<button type="button" class="btn btn-default removebtn">
						Remove Row
					</button>
				</div>
			</div>
		</div>


		<div class="form-group">
			<div class="col-xs-5 col-xs-offset-1">
				<button type="submit" class="btn btn-default">Submit</button>
			</div>
		</div>
	}
}