@model IEnumerable<Mooshak2.Models.CourseViewModel>
@{
    ViewBag.Title = "Teacher Index";
}


<div class="container container-custom">
	<div class="row">
		<div class="col-md-2">
			<nav class="w3-sidenav w3-white w3-card-2 custom-nav">
				@if (Model.ToList().Count == 0)
				{
					<p>No courses</p>
				}
				else
				{
					foreach (var c in Model.ToList())
					{
						<h4 class="h4-custom">@c.Name</h4>
						if (c.Assignments.Count == 0)
						{
							<p>No Assignments</p>
						}
						else
						{

							foreach (var a in c.Assignments)
							{
								<div class="w3-accordion">
									<a href="#" class="accordion-anchor custom-navanchor"> - @a.Name <i class="fa fa-angle-down custom-icon" aria-hidden="true"></i></a>
									<div class="w3-accordion-content w3-white w3-card-4">
										@foreach (var m in a.Milestones)
										{
											@Ajax.ActionLink(m.Name, "ContentRender", "Teacher", new { id = m.Id }, new AjaxOptions() { UpdateTargetId = "content", InsertionMode = InsertionMode.Replace })
										}
									</div>
								</div>
							}
						}
						<a href="/Teacher/CreateAssignment" class="custom-adder"><i class="fa fa-plus-square" aria-hidden="true"></i> Add assignment</a>	
					}
				}
			</nav>
		</div>
		<div id="content" class="col-md-10">
		</div>
	</div>
</div>

